fastapi
uvicorn
streamlit
requests
pydantic

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-chroma
chromadb

langchain-huggingface
sentence-transformers

langchain-google-genai
google-generativeai

youtube-transcript-api

python-dotenv

torch
transformers